:root{
    --main-color: #DD2F6E;
    --main-dark: #1D2231;
    --text-grey: #8390A2;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

}
.sidebar{
    width: 345px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background: var(--main-color);


}
.sidebar_brand{
    height: 90px;
    padding: 1rem 0rem 1rem 2rem;
    color: #fff;
}
.sidebar_brand span{
    display: inline-block;
    padding-right: 1rem;
}
.sidebar_menu li{
    width: 100%;
    margin-bottom: 1.3rem;
    padding-left: 2rem;
}
.sidebar_menu a{
    display: block;
    color: #fff;
    font-size: 1.1rem;
}
.sidebar_menu a.active{
    back
}
.sidebar_menu a span:first-child{
    font-size: 1.5rem;
    padding-right: 1rem;

}
.main_contant{

}