
.student-infohead{
  
.teachingmodeinner {
     
        margin-top: 15px;
    }
.wrapper.Specificgender{
    margin: 15px 0px;
   
}
.categoriescenter{
    text-align: left;
    margin-bottom: 20px;
    color: $backgroundtheamcol;
}
}